{% extends "base.html" %}

{% block title %}Conflits{% endblock %}
{% block toptitle %}Conflits manuels{% endblock %}

{% block content %}

<div class="list-page-header">
    <h2>Conflits</h2>
    <a href="/conflits/ajouter" class="btn btn-primary">+ Ajouter</a>
</div>

<div class="table-container">
<table>
    <tr><th>UE 1</th><th>UE 2</th></tr>
    {% for conflit in conflits %}
    <tr>
        <td><strong>{{ conflit.ue1.code }}</strong></td>
        <td><strong>{{ conflit.ue2.code }}</strong></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
