{% extends "base.html" %}

{% block title %}Etudiants{% endblock %}
{% block toptitle %}Etudiants{% endblock %}

{% block content %}

<div class="list-page-header">
    <h2>Etudiants</h2>
    <a href="/etudiants/ajouter" class="btn btn-primary">+ Ajouter</a>
</div>

<div class="table-container">
<table>
    <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Filiere</th>
        <th>UE inscrites</th>
        <th>Actions</th>
    </tr>
    {% for etudiant in etudiants %}
    <tr>
        <td><strong>{{ etudiant.matricule }}</strong></td>
        <td>{{ etudiant.nom }}</td>
        <td>{{ etudiant.filiere }}</td>
        <td>{{ etudiant.inscriptions | length }}</td>
        <td><a href="/etudiants/{{ etudiant.id }}/inscrire" class="btn btn-sm">Inscrire a une UE</a></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
