{% extends "base.html" %}

{% block title %}Salles{% endblock %}
{% block toptitle %}Salles d'examen{% endblock %}

{% block content %}

<div class="list-page-header">
    <h2>Salles</h2>
    <a href="/salles/ajouter" class="btn btn-primary">+ Ajouter</a>
</div>

<div class="table-container">
<table>
    <tr>
        <th>Nom</th>
        <th>Capacite</th>
        <th>Type</th>
    </tr>
    {% for salle in salles %}
    <tr>
        <td><strong>{{ salle.nom }}</strong></td>
        <td>{{ salle.capacite }}</td>
        <td>{{ salle.type_salle }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
